<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProfile name="dev">
        <!--  appender: 是用来定义一个写日志记录的组件，常用的appender类有ConsoleAppender和RollingFileAppender，前者个是用来在控制台上打印日志，后者是将日志输出到文件中     -->
        <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    <!--                    [customer] %cyan(%-25d{yyyy-MM-dd HH:mm:ss.SSS}) %red(%-5p) %yellow(-&#45;&#45;) %blue([%-15t])%green(%-25logger{0} : ) %marker%m%ex{full} - %logger - %F:%L%n-->
                    %red([customer] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-20t]) %yellow([%-30logger{0}]) %blue(%marker%m%ex{full} - %logger - %F:%L%n)
                </pattern>
            </layout>
        </appender>

        <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--      filter，过滤器分为三种，logback-classic提供的是两种，分别是常规的过滤器和Turbo过滤器。常用的过滤器就是按照日志级别来控制，
            将不同级别的日志输出到不同文件中，便于查看日志。如：错误日志输出到xxx-error.log，info日志输出到xxx-info.log中。      -->
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>

            <file>
                /Users/ZHONGHUI/log/customer.log
            </file>

            <!--rollingPolicy，用来设置日志的滚动策略，当达到条件后会自动将条件前的日志生成一个备份日志文件，条件后的日志输出到最新的日志文件中。
            常用的是按照时间来滚动（使用的类TimeBaseRollingPolicy）,还有一种就是基于索引来实现（使用的类FixedWindowRollingPolicy）。-->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!--日志文件输出的文件名-->
                <FileNamePattern>/Users/ZHONGHUI/log/customer.log.%d{yyyy-MM-dd}</FileNamePattern>
                <!--日志文件保留天数-->
                <MaxHistory>30</MaxHistory>
                <!--日志文件的最大大小-->
                <!--                <MaxFileSize>100MB</MaxFileSize>-->
            </rollingPolicy>

            <layout class="ch.qos.logback.classic.PatternLayout">
                <!--       日志输出格式         -->
                <pattern>
                    [customer] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n
                </pattern>
            </layout>
        </appender>

        <!-- info级别日志会输出到customer-info.log日志文件中 -->
        <appender name="log-info" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/Users/ZHONGHUI/log/customer-info.log</file>
            <encoder>
                <pattern>【customer】%blue([requestId:%X{requestId:-syslogId}]) %d{yyyy-MM-dd HH:mm:ss.SSS} %red([%thread]) %5level - %msg%n
                </pattern>
            </encoder>
            <!-- filter过滤器，INFO级别 -->
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
        <!-- error级别日志会输出到customer-error.log日志文件中 -->
        <appender name="log-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/Users/ZHONGHUI/log/customer-error.log</file>
            <encoder>
                <pattern>【customer】%blue([requestId:%X{requestId:-syslogId}]) %d{yyyy-MM-dd HH:mm:ss.SSS} %red([%thread]) %5level - %msg%n
                </pattern>
            </encoder>
            <!-- filter过滤器，ERROR级别 -->
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>


        <root level="DEBUG">
            <appender-ref ref="ConsoleAppender"/>
            <!--            <appender-ref ref="RollingFileAppender"/>-->
        </root>
    </springProfile>

    <springProfile name="local">
        <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    [technique] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n
                </pattern>
            </layout>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="consoleLog"/>
        </root>
    </springProfile>

    <springProfile name="preprod">
        <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    [technique] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n
                </pattern>
            </layout>
        </appender>

        <appender name="kafkaAppender" class="com.decathlon.shiphub.shipping.controller.helper.KafkaLogbackAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    [technique] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n
                </pattern>
            </layout>
            <servers>de-kafka.pp.dktapp.cloud:9092</servers>
            <topic>technique-logs</topic>
            <acks>0</acks>
            <lingerMs>1000</lingerMs>
            <maxBlockMs>0</maxBlockMs>
            <clientId>technique</clientId>
        </appender>

        <root level="DEBUG">
            <appender-ref ref="consoleLog"/>
            <appender-ref ref="kafkaAppender"/>
        </root>
    </springProfile>

    <springProfile name="production">
        <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    [technique] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n
                </pattern>
            </layout>
        </appender>

        <appender name="kafkaAppender" class="com.decathlon.shiphub.shipping.controller.helper.KafkaLogbackAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>
                    [technique] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n
                </pattern>
            </layout>
            <servers>de-kafka.dktapp.cloud:9092</servers>
            <topic>technique-logs</topic>
            <acks>0</acks>
            <lingerMs>1000</lingerMs>
            <maxBlockMs>0</maxBlockMs>
            <clientId>technique</clientId>
        </appender>

        <root level="INFO">
            <appender-ref ref="consoleLog"/>
            <appender-ref ref="kafkaAppender"/>
        </root>
    </springProfile>
</configuration>