<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<configuration>-->
<!--  <springProfile name="local">-->
<!--    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">-->
<!--      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--        <level>INFO</level>-->
<!--      </filter>-->
<!--      <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--        <pattern>-->
<!--          [shiphub-shipping] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n-->
<!--        </pattern>-->
<!--      </layout>-->
<!--    </appender>-->

<!--    <root level="DEBUG">-->
<!--      <appender-ref ref="consoleLog" />-->
<!--    </root>-->
<!--  </springProfile>-->

<!--  <springProfile name="dev">-->
<!--    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">-->
<!--      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--        <level>INFO</level>-->
<!--      </filter>-->
<!--      <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--        <pattern>-->
<!--          [shiphub-shipping] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n-->
<!--        </pattern>-->
<!--      </layout>-->
<!--    </appender>-->

<!--    <root level="DEBUG">-->
<!--      <appender-ref ref="consoleLog" />-->
<!--    </root>-->
<!--  </springProfile>-->

<!--  <springProfile name="preprod">-->
<!--    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">-->
<!--      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--        <level>INFO</level>-->
<!--      </filter>-->
<!--      <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--        <pattern>-->
<!--          [shiphub-shipping] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n-->
<!--        </pattern>-->
<!--      </layout>-->
<!--    </appender>-->

<!--    <appender name="kafkaAppender" class="com.decathlon.shiphub.shipping.controller.helper.KafkaLogbackAppender">-->
<!--      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--        <level>INFO</level>-->
<!--      </filter>-->
<!--      <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--        <pattern>-->
<!--          [shiphub-shipping] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n-->
<!--        </pattern>-->
<!--      </layout>-->
<!--      <servers>de-kafka.pp.dktapp.cloud:9092</servers>-->
<!--      <topic>shiphub-shipping-logs</topic>-->
<!--      <acks>0</acks>-->
<!--      <lingerMs>1000</lingerMs>-->
<!--      <maxBlockMs>0</maxBlockMs>-->
<!--      <clientId>shiphub-shipping</clientId>-->
<!--    </appender>-->

<!--    <root level="DEBUG">-->
<!--      <appender-ref ref="consoleLog" />-->
<!--&lt;!&ndash;      <appender-ref ref="kafkaAppender" />&ndash;&gt;-->
<!--    </root>-->
<!--  </springProfile>-->

<!--  <springProfile name="production">-->
<!--    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">-->
<!--      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--        <level>INFO</level>-->
<!--      </filter>-->
<!--      <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--        <pattern>-->
<!--          [shiphub-shipping] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n-->
<!--        </pattern>-->
<!--      </layout>-->
<!--    </appender>-->

<!--    <appender name="kafkaAppender" class="com.decathlon.shiphub.shipping.controller.helper.KafkaLogbackAppender">-->
<!--      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--        <level>INFO</level>-->
<!--      </filter>-->
<!--      <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--        <pattern>-->
<!--          [shiphub-shipping] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%-31t] [%-54logger{0}] %marker%m%ex{full} - %logger - %F:%L%n-->
<!--        </pattern>-->
<!--      </layout>-->
<!--      <servers>de-kafka.dktapp.cloud:9092</servers>-->
<!--      <topic>shiphub-shipping-logs</topic>-->
<!--      <acks>0</acks>-->
<!--      <lingerMs>1000</lingerMs>-->
<!--      <maxBlockMs>0</maxBlockMs>-->
<!--      <clientId>shiphub-shipping</clientId>-->
<!--    </appender>-->

<!--    <root level="INFO">-->
<!--      <appender-ref ref="consoleLog" />-->
<!--      <appender-ref ref="kafkaAppender" />-->
<!--    </root>-->
<!--  </springProfile>-->
<!--</configuration>-->